<div class='row'>
  <div class='col-lg-offset-2 col-lg-7'>
    <p class='text-center'>Now that <a href='https://angular.io/' target='_blank'>Angular 2 is in beta</a> it's only a matter of time before it goes 2.0!</br>Make your guess on when the framework will mature.</p>
    <br/>
    <div ng-hide='ctrl.auth'>
      <div class='chart--wrapper'>
        <p class='chart--teaser  text-center'>
          <button class='btn btn-lg btn-block btn-social btn-github' ng-click='ctrl.login()'>
            <span class="fa fa-github"></span> Sign in with GitHub to make your<br/>guess and see all <b>{{ctrl.guesses.length}}</b> guesses
          </button>
        </p>
        <gs-distribution-chart class='blurry' animate='false' guesses='ctrl.guesses' ng-if='ctrl.guesses.length > 0'></gs-distribution-chart>
      </div>
    </div>

    <div ng-if='ctrl.auth'>
      <div ng-if='ctrl.user.updated_at'>
        <gs-date user='ctrl.user'></gs-date>
      </div>
    </div>

    <gs-share ng-show='ctrl.guessMade()'></gs-share>

    <div ng-if='ctrl.auth'>
      <div ng-if='ctrl.guessMade()'>
        <div class='guess--overview row' ng-if='ctrl.guesses.length > 0'>
          <gs-average class='col-md-5 col-md-offset-3' guesses='ctrl.guesses'></gs-average>
        </div>

        <gs-distribution-chart guesses='ctrl.guesses' animate='true' guessDate='ctrl.user.guessDate' ng-if='ctrl.guesses.length > 0' ></gs-distribution-chart>

        <gs-distribution-table class='gs-distribution-table' guesses='ctrl.guesses' ng-if='ctrl.guesses.length > 0' ></gs-distribution-table>
      </div>
    </div>
  </div>
</div>

<div class='row learn-angular' ng-if='ctrl.auth' ng-show='ctrl.guessMade()'>
  <h2 class='text-center col-md-11'>Learn Angular Today</h2>
  <div class='card col-md-4 col-md-offset-1'>
    <img class="card-img-top" src="/images/angular-badge.png" alt="Shaping Up With Angular.js Logo">
    <div class="card-block">
      <h4 class="card-title">Learn Angular!</h4>
      <p class="card-text">
        Start learning the current version of Angular.js today with Code School's free
        <a href='http://angular.codeschool.com'>Shaping Up With Angular.js</a> course with <strong>over an hour of video</strong>.
      </p>
      <a href="http://angular.codeschool.com" class="btn btn-primary">Learn Angular Free Today</a>
    </div>
  </div>

  <div class='card col-md-4 col-md-offset-1'>
    <img class="card-img-top" src="/images/angular2.png" alt="Angular 2.0 Logo">
    <div class="card-block">
      <h4 class="card-title">Prepare For Angular 2!</h4>
      <p class="card-text">
        Check out the official 5 minute Quickstart to learn the basics of Angular 2.0.
      </p>
      <a href="https://angular.io/docs/ts/latest/quickstart.html" class="btn btn-primary">Angular 2 Quickstart</a>
    </div>
  </div>
</div>

<footer class='row footer'>
  <div class='col-lg-7 col-lg-offset-2 footer--list'>
    <ul class='list-inline pull-right' ng-show='ctrl.auth'>
      <li><a class='footer--link' href='' ng-href='#/' ng-click='ctrl.logout()'>Logout</a></li>
    </ul>
    <ul class='list-inline'>
      <li><a class='footer--link' href='' ng-href='#/'>Home</a></li>
      <li><a class='footer--link' href='' ng-href='#/about'>About</a></li>
    </ul>
  </div>
</footer>
