.axis path,
.axis line {
  fill: none;
  stroke: #444;
  shape-rendering: crispEdges;
}

text {
  color: #888;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 12px;
}

.line, .line--weighted {
  fill: none;
  stroke: #0179db;
  stroke-width: 4px;
  opacity: 0.8;
}
.line--weighted {
 stroke: #b52e31;
}

.date--group {
}
.date--line {
  stroke: #0179db;
  stroke-width: 1px;
}
.date--text {
  fill: #000;
}
.date--background {
  fill: #027ddf;
  opacity: 0.2;
}

.guess--background {
  fill: lighten(#027ddf, 50%);
}


.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: none;
  stroke: steelblue;
}
