@import '../components/bootstrap/scss/bootstrap'
@import 'social'
@import 'graph'
@import 'picker'

body
  min-width: 460px

a
  cursor: hand

.header
  height: 200px
  background: linear-gradient(#024dad, #0179db)
  // background: linear-gradient(#e0343d, #b33035)
  color: #fff
  border-top: 8px solid #027ddf

  .title
    padding: 1.2em 0 2em
    .navbar-brand
      height: 160px
  h1
    padding-top: .2em
    font-size: 4em

.main
  margin-top: 2em

.blurry
  opacity: 0.6
  -webkit-filter: blur(8px)
  filter: blur(8px)

.guess--wrapper
  label
    font-size: 0.8em
.guess--date
  font-size: 1.8em
  text-align: center
  border: 0.0625rem solid #e5e5e5
  border-radius: 4px
  width: 100%
  padding: 8px
  margin-bottom: 1em;

.guess--overview
  margin: 2em 0

.chart--wrapper
  position: relative
  min-height: 400px
  .chart--teaser
    position: absolute
    z-index: 1
    top: 150px
    left: 180px
    .fa-github
      margin-top: 16px
    button
      text-align: center


.footer
  clear: both
  margin: 4em 0 2em
  padding: 4em 0
  .footer--list
    border-top: 1px solid #ddd

  ul
    margin: 1em 0
  .footer--link
    color: #888
    padding-right: 1em
